<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
        />
        <link rel="stylesheet" href="css\\style.css" />
        <script src="https://cdn.jsdelivr.net/npm/vue@3"></script>
        <title>Galaxy Builder</title>
    </head>
    <body class="w3-black w3-center">
        <nav class="w3-bar">
            <div class="bar-item-container">
                <a
                    href="./index.html"
                    class="bar-item w3-bar-item w3-button w3-mobile"
                    >HOME</a
                >
                <a
                    href="./index.html#information"
                    class="bar-item w3-bar-item w3-button w3-mobile"
                    >INFORMATION</a
                >
                <a
                    href="./index.html#input-form"
                    class="bar-item w3-bar-item w3-button w3-mobile"
                    >FORMULAR</a
                >
            </div>
        </nav>
        <div class="w3-display-container">
            <img
                src="./img/galaxy.jpg"
                alt="Galaxy wallpaper image"
                class="w3-image"
            />
            <header class="w3-display-middle">
                <h1>Galaxy Builder</h1>
                <p>Form the galaxy the way you want</p>
            </header>
        </div>
        <main class="w3-content" id="main">
            <section id="information">
                <p class="information-text std-text">
                    Our galaxy is something beautiful and complex. But have you
                    ever had the desire to create your own? If so, you have the
                    possibilty to do it right here, right now. Well not exactly
                    a galaxy, but a solar system. Which is a good start, isn't
                    it?
                </p>
            </section>
            <hr class="hr" />
            <section id="instructions-sect">
                <h2>How to use</h2>
                <p class="std-text instruction-text">
                    1. Select the amount of planets <br />
                    2. Give your planets the needed attributes
                    <br />
                    3. Click 'render' and enjoy <br />
                    <br />
                    The units are relative to earth. So for example 2 distance
                    is twice the distance from the sun to earth.
                </p>
                <p class="std-text instruction-text w3-center">
                    Note: if you've already rendered at least once, you can
                    click 'render last' to render your last input.
                </p>
            </section>
            <hr class="hr" />
            <section>
                <h2>Your planets</h2>
                <label for="planet-count" class="std-text">Planet count:</label>
                <select
                    class="select w3-margin w3-center"
                    v-model="planetCount"
                    name="planet-count"
                    id="planet-count"
                >
                    <option value="none" disabled selected>
                        Select the amount of planets
                    </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </section>

            <form action="action.php" method="post" id="input-form">
                <article v-for="i in 4">
                    <fieldset
                        v-if="planetCount >= i"
                        class="w3-row-padding w3-padding-16 w3-margin w3-round w3-margin"
                    >
                        <legend>{{ "Planet " + i}}</legend>
                        <p
                            class="w3-red error-msg"
                            v-bind:id="'wrong-input-distance' + i"
                            hidden="true"
                        >
                            Input wrong
                        </p>
                        <p
                            class="w3-red error-msg"
                            v-bind:id="'wrong-input-speed' + i"
                            hidden="true"
                        >
                            Input wrong
                        </p>
                        <div class="w3-col s3 m3 l3">
                            <label v-bind:for="'planet-name' + i">Name</label>
                            <input
                                v-bind:name="'planet-name' + i"
                                v-bind:id="'planet-name' + i"
                                maxlength="15"
                                type="text"
                                class="w3-input"
                                required
                            />
                        </div>
                        <div class="w3-col s3 m3 l3">
                            <label v-bind:for="'planet-distance' + i"
                                >Distance</label
                            >
                            <input
                                v-bind:name="'planet-distance' + i"
                                v-bind:id="'planet-distance' + i"
                                type="number"
                                min="1"
                                max="4"
                                class="w3-input distance"
                                onchange="check_input(event)"
                                required
                            />
                        </div>
                        <div class="w3-col s3 m3 l3">
                            <label v-bind:for="'planet-speed' + i">Speed</label>
                            <input
                                v-bind:name="'planet-speed' + i"
                                v-bind:id="'planet-speed' + i"
                                type="number"
                                min="-10"
                                max="10"
                                class="w3-input speed"
                                onchange="check_input(event)"
                                required
                            />
                        </div>
                        <div class="w3-col s3 m3 l3">
                            <label v-bind:for="'planet-color' + i">Color</label>
                            <input
                                v-bind:name="'planet-color' + i"
                                type="color"
                                value="#2828D2"
                                class="w3-input"
                                required
                            />
                        </div>
                    </fieldset>
                </article>
                <input
                    class="w3-button w3-round w3-border w3-border-white w3-margin-right"
                    type="submit"
                    id="render-new"
                    value="Render new"
                />
                <a href="action.php">
                    <input
                        class="w3-button w3-round w3-border w3-border-white"
                        id="render-last"
                        type="button"
                        value="Render last"
                        disabled="true"
                    />
                </a>
            </form>
        </main>
        <footer class="w3-text-color-grey w3-padding-64 w3-center">
            <p>Created by David Jäggli</p>
        </footer>
        <script src="js/index.js"></script>
        <script>
            Vue.createApp({
                data() {
                    return { planetCount: 1 };
                },
            }).mount("#main");
        </script>
    </body>
</html>
